.outer_section{
    background: rgb(69, 98, 202) linear-gradient(rgb(69, 98, 202),rgb(61, 199, 227));
    padding: 1%;
}
mat-card{
    background: rgb(69, 98, 202) linear-gradient(rgb(61, 199, 227),rgb(69, 98, 202));
    height: 90%;
    width: 100%;
    margin:1%;
}