<app-header></app-header>
<div class="outer_section">
  <div class="content_section">
    <div>
      <h2><strong>Determining income tax rate</strong> </h2>
      <h4>
        <p>
          The United States has a progressive income tax system. This means there are higher tax rates for higher income
          levels. These are called “marginal tax rates," meaning they do not apply to total income, but only to the
          income
          within a specific range. These ranges are referred to as brackets.<br>
          Income falling within a specific bracket is taxed at the rate for that bracket. The table shows the tax
          brackets for the federal income tax, and it reflects the rates for the 2021 tax year, which are the taxes due
          in
          early 2022.
        </p>
      </h4>
    </div>
    <mat-card>
      <mat-card-title style="text-align:centre;">2021 - 2022 Income Tax Brackets</mat-card-title>
      <mat-tab-group>
        <mat-tab label="Single Filers">
          <mat-card-content>
            <table width="100%">
            
                <tr class="head">
                  <th>Taxable Income</th>
                  <th>Rate</th>
                </tr>
              
              <tbody>
                <tr>
                  <td>$0 - $9,950</td>
                  <td>10%</td>
                </tr>
                <tr>
                  <td>$9,950 - $40,525</td>
                  <td>12%</td>
                </tr>
                <tr>
                  <td>$40,525 - $86,375</td>
                  <td>22%</td>
                </tr>
                <tr>
                  <td>$86,375 - $164,925</td>
                  <td>24%</td>
                </tr>
                <tr>
                  <td>$164,925- $209,425</td>
                  <td>32%</td>
                </tr>
                <tr>
                  <td>$209,425 - $523,600</td>
                  <td>35%</td>
                </tr>
                <tr>
                  <td>$523,600+</td>
                  <td>37%</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-tab>
        <mat-tab label="Married,Filing Jointly">
          <mat-card-content>
            <table width="100%">
              
                <tr class="head">
                  <th>Taxable Income</th>
                  <th>Rate</th>
                </tr>
              
              <tbody>
                <tr>
                  <td>$0 - $19,900</td>
                  <td>10%</td>
                </tr>
                <tr>
                  <td>$19,900 - $81,050</td>
                  <td>12%</td>
                </tr>
                <tr>
                  <td>$81,050 - $172,750</td>
                  <td>22%</td>
                </tr>
                <tr>
                  <td>$172,750 - $329,850</td>
                  <td>24%</td>
                </tr>
                <tr>
                  <td>$329,850 - $418,850</td>
                  <td>32%</td>
                </tr>
                <tr>
                  <td>$418,850 - $628,300</td>
                  <td>35%</td>
                </tr>
                <tr>
                  <td>$628,300+</td>
                  <td>37%</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-tab>
        <mat-tab label="Married,Filing Separately">
          <mat-card-content>
            <table width="100%">
              
                <tr class="head">
                  <th>Taxable Income</th>
                  <th>Rate</th>
                </tr>
              
              <tbody>
                <tr>
                  <td>$0 - $9,950</td>
                  <td>10%</td>
                </tr>
                <tr>
                  <td>$9,950 - $40,525</td>
                  <td>12%</td>
                </tr>
                <tr>
                  <td>$40,525 - $86,375</td>
                  <td>22%</td>
                </tr>
                <tr>
                  <td>$86,375 - $164,925</td>
                  <td>24%</td>
                </tr>
                <tr>
                  <td>$164,925- $209,425</td>
                  <td>32%</td>
                </tr>
                <tr>
                  <td>$209,425 - $314,150</td>
                  <td>35%</td>
                </tr>
                <tr>
                  <td>$314,150+</td>
                  <td>37%</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-tab>
        <mat-tab label="Head of Household">
          <mat-card-content>
            <table width="100%">
              
                <tr class="head">
                  <th>Taxable Income</th>
                  <th>Rate</th>
                </tr>
              
              <tbody>
                <tr>
                  <td>$0 - $14,200</td>
                  <td>10%</td>
                </tr>
                <tr>
                  <td>$14,200 - $54,200</td>
                  <td>12%</td>
                </tr>
                <tr>
                  <td>$54,200 - $86,350</td>
                  <td>22%</td>
                </tr>
                <tr>
                  <td>$86,350 - $164,900</td>
                  <td>24%</td>
                </tr>
                <tr>
                  <td>$164,900 - $209,400</td>
                  <td>32%</td>
                </tr>
                <tr>
                  <td>$209,400 - $523,600</td>
                  <td>35%</td>
                </tr>
                <tr>
                  <td>$523,600+</td>
                  <td>37%</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
  <div>

    <div class="content_section">
      <mat-card>
        <mat-card-title>2021 - 2022 Federal Standard Deductions</mat-card-title>
        <table width="100%">
          
            <tr class="head">
              <th>Filing Status</th>
              <th>Standard Deduction Amount</th>
            </tr>
          
          <tbody>
            <tr>
              <td>Single</td>
              <td>$12,550</td>
            </tr>
            <tr>
              <td>Married, Filing Jointly</td>
              <td>$25,100</td>
            </tr>
            <tr>
              <td>Married, Filing Separately</td>
              <td>$12,550</td>
            </tr>
            <tr>
              <td>Head of Household</td>
              <td>$18,800</td>
            </tr>
          </tbody>
        </table>
      </mat-card>
      <div style="padding:1%;">
        <h2><strong>Calculating Taxable Income Using Exemptions and Deductions</strong></h2>
        <p>To calculate taxable income, you begin by making certain adjustments from gross income to arrive at adjusted
          gross income (AGI). Once you have calculated adjusted gross income, you can subtract any deductions for which
          you qualify (either itemized or standard) to arrive at taxable income.</p>
        <p>Some taxpayers, however, may choose to itemize their deductions. This
          means subtracting certain eligible expenses and expenditures. Possible deductions include those for student
          loan interest payments, contributions to an IRA, moving expenses and health-insurance contributions for
          self-employed persons. The most common itemized deductions also include:</p>
        <ul>
          <li><strong>Deduction for state and local taxes paid:</strong> Also known as the SALT deduction, it allows taxpayers to deduct up to $10,000 of any state and local property taxes plus
            either their state and local income taxes or sales taxes.</li>
          <li><strong>Deduction for mortgage interest paid: </strong>Interest paid on the mortgages of up to two homes,
            with it being limited to your first $1 million of debt. Homes purchased after Dec. 15, 2017 have this
            lowered to the first $750,000 of the mortgage.</li>
          <li><strong>Deduction for charitable contributions</strong></li>
          <li><strong>Deduction for medical expenses that exceed 7.5% of AGI</strong></li>
        </ul>
        <p>Keep in mind that most taxpayers don’t itemize their deductions. If the standard deduction is larger than the
          sum of your itemized deductions (as it is for many taxpayers), you'll receive the standard deduction.</p>
        <p>Once you have subtracted deductions from your adjusted gross income, you have your taxable income. If your
          taxable income is zero, that means you do not owe any income tax.</p>
      </div>
    </div>
    <div class="bottom_section">
      <h2>Source: <a href="https://smartasset.com/taxes/income-taxes"> smartasset.com</a></h2>
    </div>
  </div>
  
  