<div>
    <h1>
        Itemised deduction detail
    </h1>
    <table  cellspacing="0" class="tax-table">
        <tbody>
            <tr>
                <th>Property Taxes Paid</th>
                <td>{{data.propertyTaxes}}</td>
            </tr>
            <tr>
                <th>Earned Interests</th>
                <td>{{data.earnedInterests}}</td>
            </tr>
            <tr>
                <th>Charity</th>
                <td> {{data.charity}}</td>
            </tr>
            <tr>
                <th>State Taxes Paid</th>
                <td>{{data.stateLocalTaxes}}</td>
            </tr>
            <tr>
                <th>Educational Expenses</th>
                <td>{{data.educationalExpenses}}</td>
            </tr>
            <tr>
                <th>Medical Bills</th>
                <td>{{data.unreimbursedMedicalBills}}</td>
            </tr>
            <tr>
                <th>Previous Tax Returns</th>
                <td>{{data.previousTaxReturns}}</td>
            </tr>
            <tr>
                <th>other </th>
                <td>{{data.others}}</td>
            </tr>
        </tbody>
    </table>
</div>